.action-plans-chart {
  // color: $action-plans-main;

  .bar-footer {
    background-color: $action-plans-bar-footer;

    p {
      margin: 5px 0px;
      min-height: 19px;
      color: white;
    }

    .bar-description {
      opacity: 0.7;
      text-transform: uppercase;
    }

  }

  // .bar-content {
  //   background-image: $action-plans-bar-content;
  // }
}
