.auth {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to right, #1C76C6, #3599C4);

  p {
    margin: 5px;
    margin-bottom: 0px;
  }

  .card {
    padding: 20px 24px 30px 24px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    border-radius: 3px;
    border: none;
  }

  .bimbo-logo {
    max-width: 250px;
    margin: auto;
  }

  .input {
    width: 100% !important;
  }

  button {
    background-color: #098DD6 !important;
    box-shadow: 0 10px 20px rgba(0,0,0,0.16), 0 4px 6px rgba(0,0,0,0.23);    
  }
}
