.auth {
  p {
    margin: 5px;
    margin-bottom: 0px;
  }

  .card {
    margin: auto;
    margin-top: 8%;
    padding: 20px;
  }

  .bimbo-logo {
    max-width: 250px;
    margin: auto;
  }

  .input {
    width: 100% !important;
  }
}
