#sidenav {
  height: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  width: 250px;
  background-color: white;

  .user-info {
    height: 200px;
    background-image: linear-gradient(-157deg, #009BE8 0%, #1E6CAB 100%);
  }

  .link {
    margin-left: 20px;
  }

}

#main {
  margin-left: 250px;
}
