#sidenav {
  height: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  width: 250px;
  background-color: white;

  .user-info {
    height: 200px;
    background-image: $sidenav-user-info;
    color: $sidenav-user-info-color;

    img { margin: 50px 0px 10px 0px; }
    p { display: block; margin: 0px; }
  }

  p {
    display: inline-block;
    margin: 0px 0px 0px 10px;
  }
  p, svg { vertical-align: middle }
  svg { height: 18px }

  .link {
    cursor: pointer;
    padding: 10px;
    padding-left: 15px;

    &:hover {
      background-color: $link-hover;
    }
  }
  .link-active {
    .link {
      background-color: $link-hover;
    }
  }

  .submenu-link {
    padding-left: 60px;
  }

}

#main {
  margin-left: 250px;
}
