body {
  font-family: 'Roboto', sans-serif;
  background-color: $main-background-color;
}

.error {
  color: $error-color;
}

.no-margin {
  margin: 0px;
}

.bold {
  font-weight: bold;
}

.inline {
  display: inline-block;
}

.card {
  border-radius: 2px;
  background-color: $card-background;
  border: $card-border;
  padding: 15px;
  margin: 10px;

  .card-title {
    margin-top: 0px;
    font-size: 16px;
    color: #078ED8;
  }

  .small-text {
    font-size: 11px;
    color: #5F95B7;
    margin-top: -8px;
    margin-bottom: 16px;
  }
}

.card-padding { padding: $card-padding }

.card-2 {
  // box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  box-shadow: 0 1px 3px 0 rgba(173,173,173,0.50);
}

.grey-btn {
  float: right;
  border: 0;
  color: #8a8a8a;

  &:hover {
    background-color: #8a8a8a;
    color: white;
  }
}

.button {
  background-color: transparent;
  padding: 5px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: .9em;
  border-radius: 2px;
  margin: 0 5px;

  &:focus {
    outline: 0;
  }
}

.float-fix::after {
  content: " ";
  display: block;
  height: 0;
  clear: both;
}

.float-right {
  float: right;
}

.float-right-i {
  float: right !important;
}

.no-margin-i {
  margin: 0px !important;
}
