body {
  font-family: 'Roboto', sans-serif;
  background-color: $main-background-color;
}

.error {
  color: $error-color;
}

.no-margin {
  margin: 0px;
}

.bold {
  font-weight: bold;
}

.card {
  border-radius: 2px;
  background-color: $card-background;
  border: $card-border;
  padding: 15px;
  margin: 10px;

  .card-title {
    margin-top: 0px;
    font-size: 16px;
    color: #078ED8;
  }
}

.card-2 {
  // box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  box-shadow: 0 1px 3px 0 rgba(173,173,173,0.50);
}

.small-text {
  font-size: 11px;
  color: #5F95B7;
  margin-top: 9px;
}
