// global
$main-background-color: #eeeded;
$primary-color: #078ED8;
$error-color: rgb(244, 67, 54);
$success-color: #66AC66;
$warning-color: #E6E076;
$failure-color: #C76969;
$card-background: #FFFFFF;
$card-border: 1px solid #DBDBDB;
$card-padding: 15px;

// sideNav
$sidenav-user-info: linear-gradient(-157deg, #009BE8 0%, #1E6CAB 100%);
$sidenav-user-info-color: white;
$link-hover: #F5F5F5;



// scoringTable
$table-score-text-color: #FFFFFF;
$lot-number: #4B80A2;

// ActionPlansChart
$action-plans-main: white;
$action-plans-bar-footer: rgba(118, 118, 118, 0.2);
$action-plans-bar-content: linear-gradient(-180deg, #00DEFC 0%, #00BAF8 100%);
