
env:
  browser: true
  es6: true

parser: babel-eslint

parserOptions:
  parserOptions: 6

extends: airbnb

rules:
  no-console: off
  no-use-before-define: off
  no-shadow: off  
  consistent-return: off
  class-methods-use-this: off
  linebreak-style: off
  react/jsx-filename-extension: off
  react/prop-types: off
  react/prefer-stateless-function: off
  react/no-unused-state: off
  jsx-a11y/anchor-is-valid: off
  jsx-a11y/click-events-have-key-events: off
